.label[text]::before {
  display: inline-block;
  height: 15px;
  width: 15px;
  vertical-align: middle;
}
.label[text="Jewelry"]::before { content: url("svg/pearl-necklace.svg"); }
.label[text="Spices"]::before { content: url("svg/powder-bag.svg"); }
.label[text="Fabric"]::before { content: url("svg/blanket.svg"); }
.label[text="Pottery"]::before { content: url("svg/porcelain-vase.svg"); }
.label[text="Gold"]::before { content: url("svg/gold-nuggets.svg"); }
.label[text="Rugs"]::before { content: url("svg/rolled-cloth.svg"); }
.label[text="Wool"]::before { content: url("svg/wire-coil.svg"); }
.label[text="Lumber"]::before { content: url("svg/wood-pile.svg"); }
.label[text="Medicine"]::before { content: url("svg/caduceus.svg"); }
.label[text="Books"]::before { content: url("svg/book-pile.svg"); }
.label[text="Marble"]::before { content: url("svg/stone-tablet.svg"); }
.label[text="Iron"]::before { content: url("svg/metal-bar.svg"); }
.label[text="Wine"]::before { content: url("svg/barrel.svg"); }
.label[text="Salt"]::before { content: url("svg/powder.svg"); }
.label[text="Coal"]::before { content: url("svg/stone-pile.svg"); }
.label[text="Clay"]::before { content: url("svg/brick-pile.svg"); }
.label[text="Money"]::before { content: url("svg/money-stack.svg"); }

.label[text="Arrow"]::before {
  content: " ⇒ ";
}

.compact .label[text]::after {
  content: none;
}
