.label[icon]::before {
  display: inline-block;
  height: 15px;
  width: 15px;
  line-height: 100%;
  vertical-align: middle;
  margin: 0px;
  margin-bottom: 3px;
}

.label[icon="Jewelry"]::before { content: url("svg/pearl-necklace.svg"); }
.label[icon="Spices"]::before { content: url("svg/powder-bag.svg"); }
.label[icon="Fabric"]::before { content: url("svg/blanket.svg"); }
.label[icon="Pottery"]::before { content: url("svg/porcelain-vase.svg"); }
.label[icon="Gold"]::before { content: url("svg/gold-nuggets.svg"); }
.label[icon="Rugs"]::before { content: url("svg/rolled-cloth.svg"); }
.label[icon="Wool"]::before { content: url("svg/wire-coil.svg"); }
.label[icon="Lumber"]::before { content: url("svg/wood-pile.svg"); }
.label[icon="Medicine"]::before { content: url("svg/caduceus.svg"); }
.label[icon="Books"]::before { content: url("svg/book-pile.svg"); }
.label[icon="Marble"]::before { content: url("svg/stone-tablet.svg"); }
.label[icon="Iron"]::before { content: url("svg/metal-bar.svg"); }
.label[icon="Wine"]::before { content: url("svg/barrel.svg"); }
.label[icon="Salt"]::before { content: url("svg/powder.svg"); }
.label[icon="Coal"]::before { content: url("svg/stone-pile.svg"); }
.label[icon="Clay"]::before { content: url("svg/brick-pile.svg"); }
.label[icon="Money"]::before { content: url("svg/money-stack.svg"); }


.label[icon="Arrow"]::before {
  content: "⇒ ";
  margin-left: 5px;
  margin-right: 5px;
}


