@import url("goods.css");
@import url("fontawesome-free-6.4.0-web/css/solid.css");

.button[icon="PlayPause"]::before {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
}
/* pause */
.button[icon="PlayPause"]::before {
  content: "\f04c";
}

/* play */
.paused .button[icon="PlayPause"]::before {
  content: "\f04b";
}

.button[icon="Cleanup"]::before {
  content: "\f057";
  font: var(--fa-font-regular);
}


body {
  background: #000;
  color: #fff;
}

[text]::after {
  content: attr(text);
  display: inline-block;
  font-size: 16px;
  margin-right: 3px;
  margin-left: 3px;
}

[text]::before {
  display: inline-block;
  font-size: 16px;
  margin-right: 3px;
  margin-left: 3px;
}

#centerpane {
  flex-grow: 1000;
}
#centercontrols {
  display: flex;
  min-width: 300px;
  align-items: center;
  text-align: center;
}

div#container > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div#container > div > * {
  margin: 10px;
}

.row {
  display: flex;
}

.weight[text] {
  float: right;
}
.weight[text]::before {
  content: attr(text);
}
.weight[text]::after {
  content: "Ⲅ";
  font: var(--fa-font-regular);
}

#resourcelist {
  flex-basis: 300px;
  flex-grow: 1;
}

#resourcelist > :nth-child(2n+1) {
  background-color: #333;
}

.row > * {
  flex: 2;
  text-align: right;
  display: table-cell;
  height: 15px;
  padding: 4px;
}

#resourcelist .label {
  flex: 3;
}

.row > .label {
  text-align: left;
}

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff0;
  min-width: 16px;
  padding: 4px;
  display: inline-block;
  text-rendering: auto;
  text-align: center;
  vertical-align: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0 0;
}

.button.label[icon] {
  width: 16px;
  height: 16px;
}

.button {
  overflow: visible;
}

.tooltip {
  display: inline-flex !important;
  flex-direction: column;
  visibility: hidden;
  position: absolute !important;
  border: 5px solid #66a;
  color: #aaf;
  padding: 3px;
  background-color: #000;
  z-index: 1;
  left: 50%;
  top: 70%;
  width: 0%;
  overflow-x: clip;
  overflow-y: visible;
  pointer-events: none;
}

.tooltip .divider {
  border: 1px solid #66a;
  margin: 3px;
  width: calc(100% -6px);
  height: 0px;
}


.tooltip::before {
  content: "";
  border: 12px solid transparent;
  border-bottom-color: #66a;
  width: calc(40% - 24px); height: 0px;
  position: absolute;
  left: calc(30%);
  top: calc(-26px);
}



div:hover > .tooltip {
  transition: all 0.2s;
  visibility: visible;
  left: calc(-20px);
  top: calc(100% + 13px);
  width: calc(100% - 10px + 40px);
}

.queue {
  border: 1px solid #aaa;
  min-width: 300px;
  height: 400px;
  overflow: scroll;
  scroll-behavior: smooth;
  min-width: 300px;
}


.queueitem {
  --progress-color: #332f2d;
  --background: #000;
  padding: 5px;
  padding-left: 10px;
  position: relative;
  background-color: #00000000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 16px;
  background: linear-gradient(to right, var(--progress-color) var(--progress,0), var(--background) var(--progress,0));
}

.queueitem.failed {
  background: #400;
}

/*
.queueitem .label::after{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
*/


/*
.queueitem .button::after {
  font: var(--fa-font-regular);
}

.queueitem > [text="down"]::after{ content: "\f358"; }

.queueitem > [text="up"]::after{ content: "\f35b"; }

.queueitem > [text="repeat"]::after{
  content: "\f363";
  font: var(--fa-font-solid);
  font-size: 14px;
  color: #888;
}
.queueitem[repeat="true"] > [text="repeat"]::after { color: #fff; }

.queueitem > [text="cancel"]::after{ 
  content: "\f00d";
  font: var(--fa-font-solid);
  font-size: 14px;
}

.queueitem > [text="skip"]::after{ content: "\f057"; }
*/

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-color: #fff;
}

.button * {
  line-height: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.button:hover {
  transition: all 300ms 0ms;
  color: #aaf;
  border-color: #aaf;
  background-color: #224;
}

.button:active {
  transition: none;
  color: #aaf6;
  border-color: #aaf6;
  background-color: #2246;
  box-shadow: none;
}

#actionlist {
  flex-basis: 350px;
  flex-grow: 1000000;
}
#actionlist .button {
  min-width: 200px;
  min-height: 50px;
  line-height: 50px;
  border-style: solid;
  position: relative;
  margin: 2px 2px 2px 2px;
}

.hide-empty:empty, .inactive {
  // display: none !important;
}

